body {
    margin: 0;
    overflow: hidden;
}

.rectangle {
    position: absolute;
    width: 100px;
    height: 50px;
    background-color: lightblue;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

#rect1 {
    top: 50px;
    left: 50px;
}

#rect2 {
    top: 200px;
    left: 200px;
}
